# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Android / iOS
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/

# Secrets
secrets.json
firebase_options.dart
firebase.json
google-services.json